# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
ENV/
.venv/
.virtualenv/

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Test and coverage reports
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# MacOS
.DS_Store

.env